body {
  color: black;
}

body.reserva{
  background-color: rgb(240, 239, 239);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s; /* truco para autofill */
}

input.input-personalizado {
  background-color: transparent;
  border-radius: 5px;
  transition: background-color 5000s ease-in-out 0s; /* truco para autofill */
}



.cubrir {
 position: fixed;     /* Flota encima, no depende de otros contenedores */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;       /* Número muy alto para que tape TODO */

  background-image: url('cortinas.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.myButton:hover{
  text-decoration: underline;
}
.socialButton{
  color:black
}

.socialButton:hover{
  color: #3374beff !important;
}
.slide-out-top {
	-webkit-animation: slide-out-top 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-top 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.mi-caja {
  border: 2px solid transparent; /* borde inicial invisible */
  transition: border 0.3s ease;  
  border-radius: 8px; /* opcional: esquinas redondeadas */
  background-color: white;
  width: auto;
}

.mi-caja:hover {
  border: 2px solid #3374beff; /* borde azul neón */
  box-shadow: 0 0 5px #3374beff,
              0 0 10px #3374beff,
              0 0 20px #3374beff,
              0 0 40px #3374beff;
  animation: neon-glow 1.5s infinite alternate;
}

@keyframes neon-glow {
  from {
    box-shadow: 0 0 5px #3374beff,
                0 0 10px #3374beff,
                0 0 20px #3374beff,
                0 0 40px #3374beff;
  }
  to {
    box-shadow: 0 0 10px #3374beff,
                0 0 20px #3374beff,
                0 0 40px #3374beff,
                0 0 80px #3374beff;
  }
}

.mi-caja-reservas {
  border: 2px solid black; /* borde inicial invisible */
  transition: border 0.3s ease;  
  border-radius: 8px; /* opcional: esquinas redondeadas */
}

.mi-caja-reservas:hover {
  border: 2px solid #3374beff; /* borde azul neón */
  box-shadow: 0 0 5px #3374beff,
              0 0 10px #3374beff,
              0 0 20px #3374beff,
              0 0 40px #3374beff;
  animation: neon-glow 1.5s infinite alternate;
}

.TextOfReservasInfo{
font-size:25px;

}

.borderInfoUsuario{
  display: inline-block;
  width: fit-content;
  border: 3px solid #3374beff; /* borde azul neón */
  padding: 2px 8px;        /* opcional, para que no quede tan pegado */
  margin: 2px 0;
}

.boton-padelplus{
  background-color: #3374beff;
  border-color: #3374beff;
  color: white;
}

.boton-padelplus:hover{
  background-color: rgb(37, 86, 141);
  border-color: rgb(37, 86, 141);
  color: white
}

.boton-padelplus-reserva{
  background-color: #3374beff;
  border-color: #3374beff;
}

.boton-padelplus-reserva:hover{
  background-color: rgb(43, 98, 161);
  border-color: rgb(43, 98, 161);
}

.rbc-time-slot {
  border-top: none !important;
  z-index: 1;
}

.rbc-event {
  z-index: 2;
  width: 100%;
  pointer-events: none !important;
  cursor: not-allowed !important;
}

.rbc-time-gutter .rbc-timeslot-group .rbc-time-slot button{
  background-color: white !important;  
  pointer-events: none !important;
  cursor: not-allowed !important;
}


/* From Uiverse.io by JkHuger */ 
@keyframes loader_5191 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.square {
  background: #ddd;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
}

#sq1 {
  margin-top: -25px;
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 0s infinite alternate;
}

#sq2 {
  margin-top: -25px;
  animation: loader_5191 675ms ease-in-out 75ms infinite alternate;
}

#sq3 {
  margin-top: -25px;
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 150ms infinite;
}

#sq4 {
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 225ms infinite;
}

#sq5 {
  animation: loader_5191 675ms ease-in-out 300ms infinite;
}

#sq6 {
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 375ms infinite;
}

#sq7 {
  margin-top: 15px;
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 450ms infinite;
}

#sq8 {
  margin-top: 15px;
  animation: loader_5191 675ms ease-in-out 525ms infinite;
}

#sq9 {
  margin-top: 15px;
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 600ms infinite;
}

/* TERMINA FONDO PERFIL */

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}

.ball {
  position: absolute;
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  backface-visibility: hidden;
  animation: move linear infinite;
}

.ball:nth-child(odd) {
    color: #3374beff;
}

.ball:nth-child(even) {
    color: #FF841D;
}

/* Using a custom attribute for variability */
.ball:nth-child(1) {
  top: 77%;
  left: 88%;
  animation-duration: 40s;
  animation-delay: -3s;
  transform-origin: 16vw -2vh;
  box-shadow: 40vmin 0 5.703076368487546vmin currentColor;
}
.ball:nth-child(2) {
  top: 42%;
  left: 2%;
  animation-duration: 53s;
  animation-delay: -29s;
  transform-origin: -19vw 21vh;
  box-shadow: -40vmin 0 5.17594621519026vmin currentColor;
}
.ball:nth-child(3) {
  top: 28%;
  left: 18%;
  animation-duration: 49s;
  animation-delay: -8s;
  transform-origin: -22vw 3vh;
  box-shadow: 40vmin 0 5.248179047256236vmin currentColor;
}
.ball:nth-child(4) {
  top: 50%;
  left: 79%;
  animation-duration: 26s;
  animation-delay: -21s;
  transform-origin: -17vw -6vh;
  box-shadow: 40vmin 0 5.279749632220298vmin currentColor;
}
.ball:nth-child(5) {
  top: 46%;
  left: 15%;
  animation-duration: 36s;
  animation-delay: -40s;
  transform-origin: 4vw 0vh;
  box-shadow: -40vmin 0 5.964309466052033vmin currentColor;
}
.ball:nth-child(6) {
  top: 77%;
  left: 16%;
  animation-duration: 31s;
  animation-delay: -10s;
  transform-origin: 18vw 4vh;
  box-shadow: 40vmin 0 5.178483653434181vmin currentColor;
}
.ball:nth-child(7) {
  top: 22%;
  left: 17%;
  animation-duration: 55s;
  animation-delay: -6s;
  transform-origin: 1vw -23vh;
  box-shadow: -40vmin 0 5.703026794398318vmin currentColor;
}
.ball:nth-child(8) {
  top: 41%;
  left: 47%;
  animation-duration: 43s;
  animation-delay: -28s;
  transform-origin: 25vw -3vh;
  box-shadow: 40vmin 0 5.196265905749415vmin currentColor;
}
